/* Generales */
*{
    margin: 0;
    padding: 0;
}

:root{
    --color-enlace: #333;
    --bg-enlaces: #38A3A5;
    --bg-color: #22577A;
    --color-white: white;
    --shadow: rgba(0, 0, 0, 0.75);
    --fuente-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    background-color: var(--bg-color);
}

h1, h2, p, a{
    font-family: var(--fuente-principal);
}

ul{
    list-style: none;
}

li, a{
    text-decoration: none;
}

.d_flex{
    display: flex;
}

.j_content_center{
    justify-content: center;
}

.a_items_center{
    align-items: center;
}

.f_d_column{
    flex-direction: column;
}

.w_100{
    width: 100%;
}

.pad-secciones{
    padding: 5px 3%;
}

/* Header */
.header{
    padding: 10px 10px 5px 10px;
}

.enlace_container{
    padding: 10px 15px;
}

.enlace_container:hover{
    background-color: var(--bg-enlaces);
    border-radius: 5px;
}

.enlace_icono{
    font-size: 18px;
    margin-right: 7px;
}

.enlace_icono, .enlace_titulo{
    color: white;
}

/* Diseños - main div */
.main_div_left{
    width: 30%;
}

.main_div_right{
    width: 70%;
}

/* Info personal */
.subtitulo_info_personal{
    font-weight: bold;
}

.info_personal_container{
    margin-top: -8px;
}

.info_personal_contenido{
    margin-left: 12px;
    margin-bottom: 15px;
}

.seccion_diseño{
    border-radius: 10px;
    background-color: white;
    padding: 20px 25px 10px 25px;
}

.seccion_titulo{
    font-size: 18.5px;
}

.presentacion{
    width: 75%;
    height: 250px;
}

.img_presentacion{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: -12px;
    z-index: 2;
    box-shadow: 1px 1px 7px 0px var(--shadow);
}

.nombre_container{
    background-color: #57CC99;
    border-radius: 10px;
    padding: 20px 23px 12px 23px;
    z-index: 1;
    text-align: center;
    width: 78%;
}

.nombre{
    font-size: 25px;
}

/* Tabla */
.titulo-tabla{
    font-weight: bold;
    font-family: var(--fuente-principal);
}

.filas-tablas{
    padding: 10px;
}

.fila-titulos{
    background-color: #ddd;
}

.fila-2{
    background-color: #eee;
}

/* Grid */
.grid_container{
    display: grid;
    grid-gap: 0 2px;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    padding: 10px;
}

.footer{
    padding: 12px;
}
